footer#main-footer {
    background: linear-gradient(100deg, rgba(0, 0, 0, 0.75) 0%, rgb(108, 108, 108) 100%);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: $link;
    padding: 1%;
    p.copyright {
        margin-bottom: 0;
    }
    .menu-footer-container {
        ul {
            list-style-type: none;
            text-align: right;
            margin: 0;
            li {
                display: inline;
                a {
                    text-decoration: none;
                    padding: 2%;
                    &:hover {
                        color: $anaTwo;
                    }
                    &:visited {
                        color: #7b7b7b;
                    }
                    &:active {
                        color: $link;
                    }
                }
            }
        }
    }
}
