.portfolioIntro {
    background-color: #e4c4ff;
    text-align: center;
    padding: 5em;
    font-family: $header-font;

}

.portfolio {
    margin-top: 1em;
    
    h4 {
        font-family: $header-font;
    }
    p {
        font-family: $body-font;
    }
}