@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,900);

// Color variables
$color:#5f3886;
$anaOne: #863A9D; // anagolus color to the left of $color
$anaTwo: #503A9D; // anagolus color to the right of $color
$link: #93368B; // last anagolus color of $color
$secondaryColor: #363A93; // first anagolus color of $color

// Typography variables
$header-font: 'Oxygen', sans-serif;
$body-font: 'Merriweather', serif;